<div class="app">
  <div class="menuside">
    <u>
      <li><a routerLink="/liste">Liste des bibliothèques</a></li>
      <li><a routerLink="/nouveau">Créer des bibliothèques</a></li>
    </u>

  </div>
  <div class="container">
    <app-search></app-search>
      <!-- <app-list-libraries></app-list-libraries> -->
      <!-- <app-library-form></app-library-form> -->
      <!-- <router-outlet></router-outlet> -->
      <router-outlet></router-outlet>
      <!-- <app-prime-library></app-prime-library>-->
  </div>
</div>